<%- include ("_header.ejs") %>
    <h1>Welcome to this Online Learning System</h1>
    <br>
    <div class="container text-center">
        <h2>Course Titles</h2>
        <div class="row justify-content-md-center dropdown">
            <% if(courses!=null) { %>
                <% courses.forEach(function(item){ %>
                    <div class="col p-3">
                        <button type="button" class="btn btn-lg btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                        <%= item.title%>
                        </button>
                        <form class="dropdown-menu p-4" method="POST" action="add-instructor">
                            <div class="mb-3">
                                <label for="exampleDropdownFormEmail2" class="form-label">Subtitle: <%= item.subtitle %></label>
                            </div>
                            <div class="mb-3">
                                <label for="exampleDropdownFormEmail2" class="form-label">Price: <%= item.price %></label>
                            </div>
                            <div class="mb-3">
                                <label for="exampleDropdownFormEmail2" class="form-label">Total Hours: <%= item.totalHours %></label>
                            </div>
                            <div class="mb-3">
                                <label for="exampleDropdownFormEmail2" class="form-label">Course Rating: <%= item.courseRating %></label>
                            </div>
                            <div class="mb-3">
                                <label for="exampleDropdownFormEmail2" class="form-label">Subject: <%= item.subject %></label>
                            </div>
                            <div class="mb-3">
                                <label for="exampleDropdownFormEmail2" class="form-label">Given By: <%= item.givenBy %></label>
                            </div>
                        </form>
                    </div>
                <% }) %>
            <% } %>
        </div>
      </div>
<%- include ("_footer.ejs") %>