<%- include ("_header.ejs") %>
    <h1>Welcome to this Online Learning System</h1>
    <div class="table-responsive">
        <% if(courses!=null) { %>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Course Title</th>
                        <th>Subtitle</th>
                        <th>Price</th>
                        <th>Short Summary</th>
                        <th>Total Hours</th>
                        <th>Course Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <% courses.forEach(function(item){ %>
                    <tr>
                        <td><%= item.title%></td>
                        <td><%= item.subtitle %></td>
                        <td><%= item.price%></td>
                        <td><%= item.shortSummary %></td>
                        <td><%= item.totalHours %></td>
                        <td><%= item.courseRating %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <% } %>
      </div>
<%- include ("_footer.ejs") %>